/*
----------------------------------------------------------------
    this css file defines styles used to determine the look of
    the different phase pages
----------------------------------------------------------------
*/

@import url(variables.css);

/*  
----------------------------------------------------------------
phase page header styles
----------------------------------------------------------------
*/
/* style for phase headers */
.phaseHeader {
    /* setting content layout */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;

    height: 30vh;

    /* setting background */
    box-shadow: 0 0px 20px 10px rgba(0, 0, 0, 0.5);

    /* setting padding and margins */
    margin: 20px;
}

.phaseTitle {
    /* setting anchors and layout */
    display: grid;
    /* background info */
    background-image: url(../images/horizontalRoad.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110% 100%;
 
}

#phaseHeaderText {
    /* display info */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}

.phaseHeader h1 {
    /* setting text style */
    font-size: 50px;
    /* setting margins */
    /* margin: 20px; */
    padding: 0px;
}

.phaseHeader h2 {
    /* display style  */
    align-items: center;
    justify-content: center;
    text-align: center;

    /* setting text style */
    color: var(--headerTextColor);

    font-size: 30px;

    /* setting margins */
    margin: 0px;
    padding: 0px;
}

.phaseHeader h3 {
    /* setting text style */
    font-size: 30px;
    /* setting margins */
    margin: 0px;
    padding: 0px;
}

.phaseHeaderNav {
    /* setting display */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* background info */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120% 100%;

    /* setting size */
    height: 100%;
}

/* 
----------------------------------------------------------------
phase page contents 
----------------------------------------------------------------
*/

.phaseContentContainer {
    /* setting alignment, anchors and display */

    /* setting size */
    height: 60vh;

    /* setting padding and margins */
    margin: 20px;
    margin-top: 30px;

    padding-left: 30px;
    padding-right: 30px;
}

/* make contents be scroll able */
.phaseContents {
    /* setting alignment and anchors */
    overflow-y: auto;
    /* setting size */
    height: 100%;

    /* setting overall font info */
    font-size: 20px;
    /* setting margins */
    margin-bottom: 10px;
}

.phaseContents h4 {
    /* setting font info */
    font-size: 25px;
    margin-bottom: 10px;

    margin-top: 5px;

    padding: 0px;
}

.phaseContents h5 {
    /* setting font info */
    font-size: 20px;
    margin-bottom: 10px;

    margin-top: 5px;

    padding: 0px;
}

.phaseContents p {
    /* setting font info */
    font-size: 20px;

    /* setting margins */
    margin: 0px;
    padding: 0px;
}

.phaseContents li {
    /* setting font info */
    font-size: 20px;

    /* setting margins */
    margin: 0px;

    margin-top: 10px;

    padding: 0px;
}


/* 
----------------------------------------------------------------
phase page background navigation styles 
----------------------------------------------------------------
*/

/* makes the background be road point left */
.leftRoadBackground {
    background-image: url(../images/horizontalRoadL.png);
}

/* makes the background be road point left */
.rightRoadBackground {
    background-image: url(../images/horizontalRoadR.png);
}

/* 
----------------------------------------------------------------
adding responsive design 
----------------------------------------------------------------
*/
@media screen and (max-width: 1000px) {

    .phaseTitle {
        /* setting anchors and layout */
        display: grid;
        /* background info */
        background-image: url(../images/horizontalRoad.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
     
    }

    .phaseHeader {
        /* setting content layout */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0px;
    
        height: 30vh;
    
        /* setting padding and margins */
        margin: 20px;
        margin-bottom: 60px;
    }
    .phaseHeaderNav {
        /* setting display */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    
        /* background info */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        /* setting size */
        height: 100%;
    }

    /* style used to determine layout of content for planning phase pages */
    .phaseLayoutContainer {
        /* setting anchors and display */
        text-align: center;
        justify-content: center;

        /* setting size */
        height: 50vh;

        /* setting grid */
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0px;

        /* setting margins and padding */
        margin-bottom: 20px;
    }

    .phaseLayoutContainer nav {
        /* Hide roads to next phase making back to outline only possible */
        display: none;
    }

    .phaseContentContainer {
        /* setting display */
        overflow-y: hidden;
        overflow-y: auto;
        text-align: left;
        justify-content: center;

        /* setting background */
        border: none;

        /* setting size */

        /* setting margins */
        padding-left: 20px;
        padding-right: 10px;
    }
}