/*
----------------------------------------------------------------
    this css file defines styles used to determine the look of
    the different phase pages
----------------------------------------------------------------
*/

@import url(variables.css);

/*  
----------------------------------------------------------------
phase page header styles
----------------------------------------------------------------
*/
/* style for phase headers */
.phaseHeader {
    /* setting content layout */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;

    height: 20vh;

    /* setting padding and margins */
    margin-top: 20px;

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.phaseTitle {
    /* setting anchors and layout */
    display: grid;
    /* background info */
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

#phaseHeaderText {
    /* display info */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}

.phaseHeader h1 {
    /* setting text style */
    font-size: 50px;
    /* setting margins */
    margin: 20px;
    padding: 0px;
}

.phaseHeader h2 {
    /* setting text style */
    color: var(--headerTextColor);

    font-size: 30px;
    /* setting margins */
    margin: 0px;
    padding: 0px;
}

.phaseHeader h3 {
    /* setting text style */
    font-size: 30px;
    /* setting margins */
    margin: 0px;
    padding: 0px;
}

.phaseHeaderNav {
    /* setting display */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    /* background info */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 100%;
}

.phaseHeader a {

    /* setting font style */
    color: var(--headerTextColor);
    text-shadow: 2px 2px var(--navTextOutlineColor);
}

.phaseHeader a:hover {
    color: var(--navHovColor);
}

/* 
----------------------------------------------------------------
phase page contents 
----------------------------------------------------------------
*/

.phaseContents {
    /* setting alignment, anchors and display */

    /* setting size */
    height: 70vh;

    /* setting padding and margins */
    margin-left: 30px;
    margin-right: 30px;
    margin: 20px;

    padding-left: 30px;
    padding-right: 30px;
}

.phaseContents p {
    /* setting alignment and anchors */
    overflow-y: scroll;

    /* setting background */

    /* setting size */
    height: 100%;
    /* setting padding and margins */
}

/* 
----------------------------------------------------------------
phase page background navigation styles 
----------------------------------------------------------------
*/

/* makes the background be road point left */
.leftRoadBackground {
    background-image: url(../images/horizontalRoadL.png);
}

/* makes the background be road point left */
.rightRoadBackground {
    background-image: url(../images/horizontalRoadR.png);
}

/* 
----------------------------------------------------------------
adding responsive design 
----------------------------------------------------------------
*/
@media screen and (max-width: 1000px) {

    /* style used to determine layout of content for planning phase pages*/
    .phaseLayoutContainer {
        /* setting anchors */
        text-align: center;
        justify-content: center;

        /* setting grid */
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }

    .phaseLayoutContainer nav {
        /* Hide roads to next phase making back to outline only possible */
        display: none;
    }

    .phaseContentContainer {
        /* setting display */
        overflow-y: hidden;
        overflow-y: auto;
        text-align: left;
        justify-content: center;

        /* setting background */

        border: none;
        /* setting margins */
        padding-left: 20px;
        padding-right: 10px;
    }
}