/* 
----------------------------------------------------------------
file defines the default styles for the site, which are 
are used or get overridden in other file
----------------------------------------------------------------
*/
/* importing other css files */
@import url(StyleVariables.css);
@import url(SiteOutlineStyle.css);
@import url(PhasePageStyles.css);
@import url(ImageStyles.css);

/* 
----------------------------------------------------------------
global styles and fall backs
----------------------------------------------------------------
 */
body {
    /* setting display */
    overflow-y: auto;

    /* setting background */
    background-color: var(--mainBG);

    /* setting size */
    /* height: 90vh; */

    /* setting font */
    color: var(--pTextColor1);
}

a {
    /* setting display style */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* setting font style */
    /* font-size: 30px; */
    color: var(--headerTextColor);

    text-shadow: 1px 1px var(--navTextOutlineColor);

    /* setting margins */
    margin: 10px;
}

.sources {
    /* setting display style */
    display: flex;
    flex-wrap: wrap;
    align-items: normal;
    justify-content: left;
    text-align: left;

    /* setting font style */
    font-size: 30px;
    /* color: var(--headerTextColor); */

    text-shadow: none;

    /* setting margins */
    margin: 10px;
}


a:hover {
    color: var(--navHovColor);
}

/* 
----------------------------------------------------------------
setting text fall back/default style 
----------------------------------------------------------------
*/
h1 {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 118.4,
        "GRAD" 20;
    font-size: 60px;
}

h2 {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 118.4,
        "GRAD" 20;
    font-size: 40px;
}

h3 {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 118.4,
        "GRAD" 20;
    font-size: 40px;

}

h4 {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 118.4,
        "GRAD" 20;
    color: var(--contentHeaderTextColor);
    font-size: 25px;
}

h5 {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 118.4,
        "GRAD" 20;
    color: var(--contentHeaderTextColor);
    font-size: 25px;

}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--pTextColor1);
    font-size: 25px;
}

ul {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--pTextColor1);
    font-size: 25px;

}
/* 
----------------------------------------------------------------
off site links
----------------------------------------------------------------
*/

.ofSiteLink{
    font-size: 20px;
    color: black;
    text-shadow: none;
}

.inLine{
    display: inline;
    flex-wrap: nowrap;

    font-size: 20px;
    color: black;
    text-shadow: none;
}

/* 
----------------------------------------------------------------
responsive design
----------------------------------------------------------------
*/
@media screen and (max-width: 1500px) {

    body {
        overflow-y: hidden;
        background-color: var(--mainBG);
    }
    /* 
----------------------------------------------------------------
setting text fall back/default style 
----------------------------------------------------------------
*/
h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {

    font-size: 20px;
}

h4 {

    font-size: 25px;
}

h5 {
   
    font-size: 25px;

}

p {
    font-size: 25px;
}

ul {
    font-size: 25px;

}
}
