/* 
----------------------------------------------------------------
file contains definitions for styles that relate to the 
overall style of the site
----------------------------------------------------------------
*/
/* importing other css files */
@import url(variables.css);
@import url(PhasePageStyles.css);

/* global styles */
body {
    overflow-y: hidden;

    background-color: var(--mainBG);
    
    height: 90vh;
}

a {
    /* setting display style */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* setting font style */
    font-size: 30px;
    color: var(--headerTextColor);
    text-shadow: 2px 2px var(--navTextOutlineColor);
    /* setting margins */
    margin: 10px;
}

a:hover {
    color: var(--navHovColor);
}

/* 
----------------------------------------------------------------
    styles for index.html
----------------------------------------------------------------
*/
/* style for title and header */
.title {
    /* display styes */
    text-align: center;

    /* setting margins and padding */
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;

}

.title h1 {
    /* setting text style */
    font-size: 40px;
    color: var(--mainText);

    /* setting margins and padding */
    padding: 5px;
    margin: 0px;

}

.title h2 {
    /* setting text style */
    font-size: 40px;
    color: var(--mainText);

    /* setting margins and padding */
    padding: 5px;
    margin: 0px;
    padding: 0px;
    margin: 0px;

}

/* 
   container which holds outline that can be used to navigate to different
   section in the site
*/
.outlineContainer {
    /* setting anchors */
    text-align: center;
    justify-content: center;
    overflow-y: hidden;

    /* setting grid */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0px;
    height: 70vh;

    /* setting background and shadows */
    box-shadow: 0 0px 20px 10px rgba(0, 0, 0, 0.5);


    /* setting padding and margins */
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;

}

/* sections in outline */
#outlineSections {
    /* setting display style */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    /* setting background */
  
    /* setting size */
    height: 100%;

}

/* section that acts as divider for nav sections in outline */
.dividerSection {
    /* setting display */
    align-self: center;

    /* setting background */
    background-image: url(../images/horizontalRoadR.png);
    background-position: center;
    background-size: auto 100%;
}

/* section in outline that is used to navigate the site */
.sectionNav {
    /* setting background */
    background-image: url(../images/horizontalRoad.png);
    background-position: center;
    background-size: auto 100%;
    
    height: 50%;
}


/* 
----------------------------------------------------------------
adding responsive design 
----------------------------------------------------------------
*/
@media screen and (max-width: 1250px) {

    body {
        overflow-y: visible;
        background-color: var(--mainBG);
    }

    .outlineContainer {
        /* setting anchors */
        text-align: center;
        justify-content: center;
        overflow-y: scroll;

        /* setting grid */
        display: grid;
        grid-template-columns: 1fr;

        grid-gap: 0px;
        height: 80vh;

        /* setting padding and margins */

        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 30px;

        margin-bottom: 20px;
    }

    #outlineSections {
        /* setting size */
        height: auto;
    }

    /* sections in outline */
    #outlineSections {
        /* setting display style */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        /* setting size */
        /* setting padding */
        padding-top: 50%;
        padding-bottom: 50%;
    }

    .dividerSection {
        /* setting display */

        /* setting background */
        background-image: url(../images/verticalRoadD.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}