/* 
----------------------------------------------------------------
file contains definitions for variables used in 
styling the site, such as thing like colors
----------------------------------------------------------------
*/

/* colors */
:root {
    /* backgrounds */
    --mainBG: #4C7C6D;
    --contentBG: #adacac;

    --headerBG: #ffffff;

    /* text */
    --pTextColor1: #000000;
    --pTextColo2: #000000;

    --headerTextColor: #333333;
    --contentHeaderTextColor: #242323;

    --navTextOutlineColor: #ffffff;
    --navHovColor: #2e7ebe;
}
